{% extends 'question/base_question.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}
    {% dump(app.user) %}
    {{ parent() }}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Ajouter une question !✅</h1>

        {{ form_start(form) }}

        {{ form_row(form.rlabel) }}


        {{ form_end(form) }}


    </div>
{% endblock %}
