{% extends 'question/base_question.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/aureliendelorme/Desktop/testProject/src/Controller/QuestionController.php'|file_link(0) }}">src/Controller/QuestionController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/aureliendelorme/Desktop/testProject/templates/question/index.html.twig'|file_link(0) }}">templates/question/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
