{% extends 'infoco/base_infoco.html.twig' %}

{% block title %}Hello InfocoController!{% endblock %}

{% block body %}
    {{ parent() }}

<div class="example-wrapper">


    {% set controller="infoco" %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date de début</th>
            <th scope="col">Heure de début</th>
            <th scope="col">Lieu</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>12h30</td>
            <td>13:10</td>
            <td>Clermont-Ferrand</td>
            <td><a href="{{ path( controller ~ '_detail', {'id': 1}) }}"><i class="fa fa-eye"></i></a></td>
        </tr>

        </tbody>
    </table>
</div>
{% endblock %}
