{% extends 'candidat/base_candidat.html.twig' %}

{% block title %}Candidat n° {{ candidat }}!{% endblock %}

{% block body %}
    <h1>{{ candidat.nom }}</h1>
    <h1>{{ candidat.prenom }}</h1>

    <h1>{{ candidat.dateNaissance|date('d/m/Y') }}</h1>

{% endblock %}
