{% extends 'candidat/base_candidat.html.twig' %}

{% block title %}Ajout de candidat!{% endblock %}

{% block body %}


{{ form_start(form) }}

    {{ form_row(form.username) }}
    {{ form_label(form.nom) }}
    {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
    {{ form_errors(form.nom) }}
    {{ form_row(form.prenom) }}

{{ form_end(form) }}

{% endblock %}
