{% extends 'base.html.twig' %}

{% block title %}Hello CandidatController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/datatable/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery/datatable.min.js') }}"></script>
    <script src="{{ asset('js/init.table.js') }}"></script>
    <script src="{{ asset('js/init.tooltip.js') }}"></script>

{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


<div class="example-wrapper">
    <h1>Les candidats ! ✅</h1>
    <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Action</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Action</th>
        </tr>
        </tfoot>
        <tbody>
        {% for candidat in candidats %}
        <tr>
            <td>{{ candidat.id }}</td>
            <td>{{ candidat.username }}</td>
            <td>{{ candidat.nom }}</td>
            <td>{{ candidat.prenom }}</td>
            <td>
                <a data-toggle="tooltip" data-placement="top" title="Voir {{ candidat.nom }}" href="{{ path('candidat_detail', {'id': candidat.id}) }}">
                    <i class="fas fa-fw fa-eye"></i>
                </a>

                <a data-toggle="tooltip" data-placement="top" title="Editer {{ candidat.nom }}" href="{{ path('candidat_edit', {'id': candidat.id}) }}">
                    <i class="fas fa-fw fa-edit"></i>
                </a>


                <a data-toggle="tooltip" data-placement="top" title="Supprimer {{ candidat.nom }}" href="{{ path('candidat_delete', {'id': candidat.id}) }}">
                    <i class="fas fa-fw fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
