{% extends 'base_candidat.html.twig' %}

{% block title %}Hello CandidatController!{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">En savoir plus</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Delorme</td>
                <td>Aurélien</td>
                <td><a href="{{ path('candidat_detail', {'candidat': 1}) }}">Voir le détail</a></td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>Toto</td>
                <td>Toto</td>
                <td><a href="{{ path('candidat_detail', {'candidat': 2}) }}">Voir le détail</a></td>
            </tr>

            </tbody>
        </table>
    </div>
{% endblock %}
