<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="description" content="{% block description %}Super la description de mon application!{% endblock %}">
    <meta name="author" content="Aurélien :) !">

    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# TOUS LES CSS QUI CONCERNE TOUTE LAPPLICATION #}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



        <!-- Custom fonts for this template-->
        <link href="{{ asset('css/font-awesome/all.min.css') }}" rel="stylesheet" type="text/css">

        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{{ asset('css/theme/sb-admin-2.css') }}" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{{ asset('css/global.css') }}" rel="stylesheet">

    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}

        <!-- Bootstrap core JavaScript-->
        <script src="{{ asset('js/jquery/jquery.js') }}"></script>

        <script src="{{ asset('js/bootstrap/bootstrap.bundle.js') }}"></script>

        <script src="{{ asset('js/jquery/jquery.easing.js') }}"></script>

        <script src="{{ asset('js/sb-admin-2.js') }}"></script>


    {% endblock %}
</head>

<body id="page-top">
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <div class="row">
                <div class="col-md-2">
                {% include 'parts/header.html.twig' with {'username': 'aurelien'} %}
                </div>
                <div class="col-md-10">
                    {% block body %}

                    {% endblock %}
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>
