<img src="{{ absolute_url(asset('images/logo.jpg')) }}" alt="Logo !">
{{ username }}
<ul>
    <li>
        <a href="{{ path('default') }}">Home</a>
        <a href="{{ path('candidat') }}">Gestion des candidats</a>
    </li>
</ul>