
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('default') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Administration <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    {% set routeName = app.request.get('_route') %}
    {% dump('route = ' ~ routeName) %}

    <a href="{{ path('app_logout') }}">Me déconecter !!!</a>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if routeName == 'default' %}active{% endif %}">
        <a class="nav-link" href="{{ path('default') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">



    <li class="nav-item">
        <a class="nav-link {% if routeName != 'candidat' and routeName != 'candidat_add' %}collapsed{% endif %}"
           href="" data-toggle="collapse" data-target="#collapseCandidat"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-ask fa-user"></i>
            <span>Candidat</span>
        </a>
        <div id="collapseCandidat" class="collapse  {% if routeName == 'candidat' or routeName == 'candidat_add' %}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Les questions</h6>
                <a class="collapse-item {% if routeName == 'candidat' %}active{% endif %}" href="{{ path('candidat') }}">Voir les candidats</a>
                <a class="collapse-item {% if routeName == 'candidat_add' %}active{% endif %}" href="{{ path('candidat_add') }}">Ajouter un candidat</a>
            </div>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link {% if routeName != 'question' and routeName != 'question_add' %}collapsed{% endif %}"
           href="#" data-toggle="collapse" data-target="#collapseQuestion"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-ask fa-question"></i>
            <span>Questions</span>
        </a>
        <div id="collapseQuestion" class="collapse  {% if routeName == 'question' or routeName == 'question_add' %}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Les questions</h6>
                <a class="collapse-item {% if routeName == 'question' %}active{% endif %}" href="{{ path('question') }}">Voir les questions</a>
                <a class="collapse-item {% if routeName == 'question_add' %}active{% endif %}" href="{{ path('question_add') }}">Ajouter une question</a>
            </div>
        </div>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">

        <a class="nav-link {% if routeName != 'infoco' and routeName != 'infoco_add' %}collapsed{% endif %}" href="#" data-toggle="collapse" data-target="#collapseInfoco"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-ask fa-info"></i>
            <span> Infoco</span>
        </a>
        <div id="collapseInfoco" class="collapse {% if routeName == 'infoco' or routeName == 'infoco_add' %}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2  collapse-inner rounded">
                <h6 class="collapse-header">Les infocos</h6>
                <a class="collapse-item {% if routeName == 'infoco' %}active{% endif %}" href="{{ path('infoco') }}">Voir les infocos</a>
                <a class="collapse-item {% if routeName == 'infoco_add' %}active{% endif %}" href="{{ path('infoco_add') }}">Ajouter une infoco</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link {% if routeName != 'test' and routeName != 'test_add' %}collapsed{% endif %}" href="#" data-toggle="collapse" data-target="#collapseTest"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-ask fa-newspaper"></i>
            <span>Tests techniques</span>
        </a>
        <div id="collapseTest" class="collapse {% if routeName == 'test' or routeName == 'test_add' %}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Les tests techniques</h6>
                <a class="collapse-item {% if routeName == 'test' %}active{% endif %}" href="{{ path('test') }}">Voir les tests</a>
                <a class="collapse-item {% if routeName == 'test_add' %}active{% endif %}" href="{{ path('test_add') }}">Ajouter un test</a>
            </div>
        </div>
    </li>



    {% if app.user.hasRole("ROLE_ADMIN") %}

    <li class="nav-item">
        <a class="nav-link {% if routeName != 'admin'  %}collapsed{% endif %}" href="#" data-toggle="collapse" data-target="#collapseAdmin"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-ask fa-newspaper"></i>
            <span>Administration !!!</span>
        </a>
        <div id="collapseAdmin" class="collapse {% if routeName == 'admin'  %}show{% endif %}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Les tests techniques</h6>
                <a class="collapse-item {% if routeName == 'admin' %}active{% endif %}" href="{{ path('admin_home') }}">Accéder à un espace secret</a>
            </div>
        </div>
    </li>
   {% endif %}


    {% if app.user %}

        <li class="text-center ml-5 deco_link">
            <a class="nav-link" id="deco_link" href="{{ path('app_logout') }}" >
                <i class="fas fa-lock"></i> Déconexion
            </a>

        </li>
    {% endif %}


</ul>
